/*font*/
/*로딩 순서는 파일 크기가 작은 순서이므로 woff2 > woff > ttf > eot > svg 순*/

@font-face {
    font-family: NanumGothic;
    font-weight: 400;
    src:url(../font/NanumGothic.woff) format('woff'),
        url(../font/NanumGothic.otf) format('otf'),
        url(../font/NanumGothic.ttf) format('ttf'); 
}
@font-face {
    font-family: NanumGothic;
    font-weight: 700;
    src:url(../font/NanumGothicBold.otf) format('otf'),
    url(../font/NanumGothicBold.ttf) format('ttf'); 
}
@font-face {
    font-family: NanumSquareRound;
    font-weight: 400;
    src:url(../font/NanumSquareRoundR.woff) format('woff'),
        url(../font/NanumSquareRoundOTFR.otf) format('otf'),
        url(../font/NanumSquareRoundR.ttf) format('ttf'); 
}
@font-face {
    font-family: NanumSquareRound;
    font-weight: 700;
    src:url(../font/NanumSquareRoundB.woff) format('woff'),
        url(../font/NanumSquareRoundOTFB.otf) format('otf'),
        url(../font/NanumSquareRoundB.ttf) format('ttf'); 
}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
/* remember to define focus styles! */
:focus {
 outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
 text-decoration: none;
}
del {
 text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
 border-collapse: collapse;
 border-spacing: 0;
}
