/*font*/
/*로딩 순서는 파일 크기가 작은 순서이므로 woff2 > woff > ttf > eot > svg 순*/

@font-face {
    font-family: NanumGothic;
    font-weight: 400;
    src:url(../font/NanumGothic.woff) format('woff'),
        url(../font/NanumGothic.otf) format('otf'),
        url(../font/NanumGothic.ttf) format('ttf'); 
}
@font-face {
    font-family: NanumGothic;
    font-weight: 700;
    src:url(../font/NanumGothicBold.otf) format('otf'),
    url(../font/NanumGothicBold.ttf) format('ttf'); 
}
@font-face {
    font-family: NanumSquareRound;
    font-weight: 400;
    src:url(../font/NanumSquareRoundR.woff) format('woff'),
        url(../font/NanumSquareRoundOTFR.otf) format('otf'),
        url(../font/NanumSquareRoundR.ttf) format('ttf'); 
}
@font-face {
    font-family: NanumSquareRound;
    font-weight: 700;
    src:url(../font/NanumSquareRoundB.woff) format('woff'),
        url(../font/NanumSquareRoundOTFB.otf) format('otf'),
        url(../font/NanumSquareRoundB.ttf) format('ttf'); 
}

/* reset */
body {
    font-family:'나눔고딕', 'NanumGothic', 'Times New Roman', Times, Arial, Helvetica, sans-serif, 'NanumSquareRound', 'NanumGothic';
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;}
fieldset,img {border:0 none; margin: 0;font-family: Arial, Helvetica, sans-serif, 'NanumSquareRound', 'NanumGothic'; }
dl,ul,ol,menu,li {list-style:none; list-style-position : inside;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
input,select,textarea,button {vertical-align:middle;}
input {margin:10px;}
a,th,td,textarea {font-size:25px;line-height:1.5; color:#161616;}
a:visited{color:lightsalmon;}
div {margin-bottom: 30px;}
tr, td {border:1px solid black; }
table {border-collapse: collapse; }
td {padding:5px 10px; vertical-align: middle; text-align: center;}
thead tr td {background-color: lightgray; font-weight: bold;}
tr:nth-child(2n) td {background-color: lightgoldenrodyellow;}


